<div class="inner cover">
  <h1 class="cover-heading">Paulius Jarošius "Jaunesnysis programuotojas"</h1>
  <p class="lead">Web Application development using the latest Web standards. 
    <dl>
      <dt>Naujų sprendimų kūrimas</dt>
      <dt>Projektų eigos valdymas</dt>
      <dt>Programinės įrangos derinimas, diegimo darbų organizavimas, bei vykdymas.</dt>
      <dt>Infrastruktūros, bei procesų dokumentavimas, sistemų būsenos stebėjimas.</dt>
    </dl>
   </p>
  <p class="lead">
    <%= link_to "Daugiau apie mane", about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
