<div class="inner cover">
  <h1 class="cover-heading">Paulius Jarošius "Jaunesnysis programuotojas"</h1>
  <p class="lead">Web Application development using the latest Web standards. 
  </p>
  <p class="lead">
    <%= link_to "About me", about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
